<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOVEDADES</title>
    <link rel="stylesheet" href="static/css/estilos.css">
</head>

<body>
    <div class="encabezado">
        
        <div id="imagen-principal"><img src="static/imagenes/Recurso 5.png" alt="TITULO DEL LIBRO"></div>
        <a id="nav" href="/">
        <div class="tittle">
            
                  <div id="titulo-principal">TU B.V</div>  
        </div>
        </a>
        <div class="contenedor-flexible-2">
            <div class="elemento-flexible-2"><a id="nav" href="/">INICIO</a></div>
              <div class="elemento-flexible-2"><a id="nav" href="/userHome">CATÁLOGO</a></div>
              <div class="elemento-flexible-2"><a id="nav" href="/novedades">NOVEDADES</a></div>
            <div class="elemento-flexible-2"><a id="nav" href="acercade.html">ACERCA DE</a></div>
            
        </div>
            
        
    </div>
    

    <div id="contenedor-flexible">
        <div id="flex-izquierda">
        <center>
        
        <div class="visibleBody" id="visibleBody">
            <h1>NOVEDADES</h1>

        </center>
        <div id="flex-contenedor-libros">
            <div id="item-libros"><img src="static/imagenes/Recurso 7.png" alt="TITULO DEL LIBRO">
                <div id="contenido-titulo">TITULO DEL LIBRO ksdkdj dkdkjdk kfjk</div>   
            </div>
        </div>

        </div>
        <div id="flex-derecha">
            <div id="titulo"><h2>SUGERENCIAS</h2></div>
            <div id="links"> <a id="navlink" href="#">LINK1</a> </div>
           
        </div>
    </div>
  
 
   

    <footer>
        <div class="contenedor-flexible-3">
            <div class="elemento-flexible-3">&copy;2022 GRUPO 2</div>
        <div class="elemento-flexible-4">
        
        <ul>
            <li> <a href="#"><img src="static/imagenes/Recurso 1.png"/></a></li>
            <li> <a href="#"><img src="static/imagenes/Recurso 2.png"/></a></li>
            <li> <a href="#"><img src="static/imagenes/Recurso 3.png"/></a></li>
        </ul>

        </div>
        </div>
    </footer>
</body>


</html>